<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Cadastro</li>
</ol>

<div class="container">
  <form
    #clientForm="ngForm" (ngSubmit)="onSubmit()"
  >
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="cliente-id">ID:</label>
          <input
            type="text"
            name="id"
            class="form-control"
            disabled
            [ngModel]="cliente.id"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="cliente-dataCadastro">Data Cadastro:</label>
          <input
            type="text"
            name="dataCadastro"
            class="form-control"
            disabled
            [ngModel]="cliente.dataCadastro"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="nome">Nome: *</label>
          <input
            type="text"
            name="nome"
            class="form-control"
            [(ngModel)]="cliente.nome"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="cliente-cpf">CPF: *</label>
          <input
            type="text"
            name="cpf"
            class="form-control"
            [(ngModel)]="cliente.cpf"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-save"></i> Salvar
        </button>
      </div>
    </div>
  </form>
</div>
